@import "_variables.scss";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

// mobile
@media (min-width: 320px) {

header {
    max-width: 375px;
    height: 125px;

   .green-header {
    height: 55px;
    padding: 20px;
    background-color: $main3green;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .contacts {
        width: 100px;
        height: 20px;
        display: flex;
        justify-content: space-between;
    }

    .lang {
        width: 52px;
        display: flex;
        flex-direction: row;
        color: $iconColor-white;
    }
    }

    .white-header {
    height: 55px;
    background-color: $iconColor-white;
    }
}
}

// desktop
@media (min-width: 1200px) {
header {
    max-width: 100%;
}
}